<div layout-padding flex>
    <div  flex>
    <span style="text-align: center"><h3>Clinic Numbers</h3></span>
    </div>
        <div class="addbutton" flex>
            <md-button  class="md-fab md-primary md-hue-2" ng-click="c.newClinicModal($event)">
            <md-icon class="material-icons">add</md-icon>
        </md-button>
        </div>
       
    </div>

    <md-list-item class="md-3-line" ng-repeat="hospital in c.hospitals">
        <div class="md-list-item-text">
            <h3>{{ hospital.name }}</h3>
             <h4>{{ hospital.location }}</h4>
            <p>{{ hospital.number }}</p>
        </div>
        
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" ng-click="c.openMenu($mdOpenMenu, $event)">
                <md-icon class="material-icons">delete</md-icon>
            </md-button>

            <md-menu-content width="4">
                <span class="md-padding">Are you sure you want to delete?</span>
                <div layout="row">
                    <md-menu-item flex="50">
                        <md-button ng-click="c.deleteHospital(hospital)">
                            <md-icon class="material-icons">check</md-icon>
                            Yes
                        </md-button>
                    </md-menu-item>
                    <md-menu-item flex="50">
                        <md-button>
                            <md-icon class="material-icons">close</md-icon>
                            No
                        </md-button>
                    </md-menu-item>
                </div>
            </md-menu-content>
        </md-menu>

        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</div>