      <div>
        <img src="img/exercise.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    
    <div class="heading">
    <h5>Exercises</h5>
      
        <p style="color:#000000;font-size:11px;">Some airway techniques need no equipment, and focus on breathing exercises to clear mucus:</p>
      
        <p style="color:#000000;font-size:11px;">1- Active Cycle of Breathing Techniques (ACBT) – a cycle of deep breathing, huffing, coughing and relaxed breathing to move mucus.</p>
      
        <p style="color:#000000;font-size:11px;">2- Positive Expiratory Pressure (PEP) – breathing out through a mask or mouthpiece against a resistance to build up pressure behind mucus to move it. </p>
      
        <p style="color:#000000;font-size:11px;">3- Autogenic Drainage (AD) – moves mucus from smaller to bigger airways using controlled breathing at different levels. Uses fast flow rates as you sigh out but ensures the airways are kept open.</p>
      </div>