<div layout-padding class="default-bg">
<div id="home-container18">
    <img src="img/home.JPG" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
</div>

<div layout="column" >
<div layout-align="center center" layout="row" style="margin: 1px">
	<div layout-align="center center" style="margin: 1px">
		<md-card layout-align="center center" class="icon-frame" ui-sref="cf.information" md-theme-watch>
        <md-card-actions layout="column">
        <md-icon class="icon-size" class="material-icons">info_outline</md-icon>
		<h5 style="margin: 1px" >Information</h5>
		</md-card-actions>
        </md-card-content>
      	</md-card>
	</div>
	<div layout-align="center center" style="margin: 1px">
		<md-card layout-align="center center" class="icon-frame" ui-sref="cf.clinic" md-theme-watch>
        <md-card-actions layout="column">
        <md-icon class="icon-size" class="material-icons">contact_phone</md-icon>
		<h5 style="margin: 1px" >Clinic Contacts</h5>
		</md-card-actions>
        </md-card-content>
      	</md-card>
	</div>
</div>
<div layout-align="center center" layout="row" style="margin: 1px">
	<div layout-align="center center" style="margin: 1px">
		<md-card layout-align="center center" class="icon-frame" ui-sref="cf.appointment" md-theme-watch>
        <md-card-actions layout="column">
        <md-icon class="icon-size" class="material-icons">alarm</md-icon>
		<h5 style="margin: 1px" >Appoinments</h5>
		</md-card-actions>
        </md-card-content>
      	</md-card>
	</div>
	<div layout-align="center center" style="margin: 1px">
		<md-card layout-align="center center" class="icon-frame" ui-sref="cf.nutrition" md-theme-watch>
        <md-card-actions layout="column">
        <md-icon class="icon-size" class="material-icons">local_hospital</md-icon>
		<h5 style="margin: 1px" >Medications</h5>
		</md-card-actions>
        </md-card-content>
      	</md-card>
	</div>
</div>
</div>
</div>