<div id="home-container18">
    <img src="img/home.JPG" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
</div>

<div layout="column" layout-padding>
<dir style="text-align: center;" layout="row" style="margin: 1px">
	<dir style="margin: 1px">
	<md-button  class="md-fab md-primary md-hue-2" ui-sref="cf.information" aria-label="Profile" flex>
		<md-icon class="material-icons">info_outline</md-icon>
	</md-button>
	<h5 style="margin: 1px" >Information</h5>
	</dir>
	<dir style="margin: 1px">
    <md-button class="md-fab md-primary md-hue-2" ui-sref="cf.clinic" aria-label="Profile">
        <md-icon class="material-icons">phone</md-icon>
    </md-button>
    <h5 style="margin: 1px">Clinic Contacts</h5>
    </dir>
</dir>
<dir style="text-align: center;" layout="row" style="margin: 1px">
	<dir style="margin: 1px">
	<md-button class="md-fab md-primary md-hue-2" ui-sref="cf.appointment" aria-label="Profile">
            <md-icon  class="material-icons">alarm</md-icon>
        </md-button>
        <h5 style="margin: 1px">Appoinments</h5>
    </dir>
    <dir style="margin: 1px">
        <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
            <md-icon  class="material-icons">local_hospital</md-icon>
        </md-button>
        <h5 style="margin: 1px">Medications</h5>
   	</dir>
</dir>




	<!-- <md-button class="md-raised md-primary" ui-sref="cf.information" flex>
		<md-icon  class="material-icons">info_outline</md-icon>
     Information
	</md-button>
	<md-button class="md-raised md-primary" ui-sref="cf.clinic" flex>
	<md-icon  class="material-icons">phone</md-icon>  Clinic Contact
	</md-button>
	<md-button class="md-raised md-primary" ui-sref="cf.appointment" flex>
	<md-icon  class="material-icons">alarm</md-icon> Appointments
	</md-button> -->
</div>