<div  layout-padding>
<img src="img/information.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
<md-content flex layout-padding class="margin-bottom-20">
	<div class="heading">
	<h5>What is CF?</h5>
	<p style="color:#000000;font-size:11px;">Cystic fibrosis (CF) is a genetic disorder that affects mostly the lungs, but also the pancreas, liver, kidneys, and intestine. Long-term issues include difficulty breathing and coughing up mucus as a result of frequent lung infections.</p style="color:#000000;font-size:11px;">
	
	<h5>How is CF inherited?</h5>
	<p style="color:#000000;font-size:11px;">CF is inherited in an autosomal recessive manner. It is caused by the presence of mutations in both copies of the gene for the cystic fibrosis transmembrane conductance regulator (CFTR) protein. Those with a single working copy are carriers and
	otherwise mostly normal.</p>
	
	<h5>Medication</h5>
	<p style="color:#000000;font-size:11px;">Medications used to treat patients with cystic fibrosis may include pancreatic enzyme supplements, multivitamins (particularly fat-soluble vitamins), mucolytics, antibiotics (including inhaled, oral, or parenteral), bronchodilators, anti-inflammatory agents, and CFTR potentiators.</p>
	</div>
</md-content>
<div class="bottom-footer" layout="row"   >
	<md-button class="md-raised md-primary" ui-sref="cf.symptom" flex>Symptoms</md-button>
	<md-button class="md-raised md-primary" ui-sref="cf.exercise" flex>Exercise</md-button>
	<md-button class="md-raised md-primary" ui-sref="cf.nutrition" flex>Nutrition</md-button>
</div>
</div>
