<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="c.toggleNav()">
			<md-icon class="material-icons">menu</md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="go Back" ng-click="c.goBack()">
			<md-icon class="material-icons">arrow_back</md-icon>
		</md-button>
		<h2 style="font-family: opificio ;">
			<Strong><span>Cystic Fibrosis</span></Strong>
		</h2>
		<span flex></span>
		
		<md-menu>
			<md-button class="md-icon-button" ng-click="c.moreMenu($mdOpenMenu, $event)">
				<md-icon class="material-icons">launch</md-icon>
			</md-button>
			<md-menu-content width="4">
				<md-menu-item>
					<md-button ng-click="c.logout()">
						Logout
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>

<md-content layout="row" class="cf-main-container">
	<md-sidenav
		flex
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

		<md-content layout-padding>
			<md-list>
			<md-list-item style="text-align: center;">
				<md-button flex>
						Cystic Fibrosis Menu
					</md-button>
					</md-list-item>
				<div class="profile-image">
        			<img src="{{profile}}" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        			<h3 align="center">{{person}}</h3>
        			
      			</div>
				<md-list-item>
					<md-button flex class="align-left" ng-click="c.toggleNav()" ui-sref="cf.home">
						<md-icon  class="menu-icon" class="material-icons">home</md-icon>
						Home
					</md-button>
					<md-divider></md-divider>
				</md-list-item>
				<md-list-item>
					<md-button flex class="align-left" ng-click="c.toggleNav()" ui-sref="cf.information">
						<md-icon  class="menu-icon" class="material-icons">info</md-icon>
						Information
					</md-button>
					<md-divider></md-divider>
				</md-list-item>
				<md-list-item>
					<md-button flex class="align-left" ng-click="c.toggleNav()" ui-sref="cf.clinic">
						<md-icon  class="menu-icon" class="material-icons">phone</md-icon>
						Clinic Contacts
					</md-button>
					<md-divider></md-divider>
				</md-list-item>
				<md-list-item>
					<md-button flex class="align-left" ng-click="c.toggleNav()" ui-sref="cf.appointment">
						<md-icon class="menu-icon"  class="material-icons">alarm</md-icon>
						Appointments
					</md-button>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
    </md-sidenav>
    
    <md-content flex>
		<ui-view flex></ui-view>
	</md-content>
</md-content>