<div>
	<img src="img/nutrition.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
	<h5>Nutritions</h5>
      <p style="color:#000000;font-size:11px;">Calcium. Patients with pancreatic insufficiency have difficulty absorbing calcium and are especially at risk for developing osteoporosis (weak, brittle bones), as are all kids with CF. Dairy products are good sources of calcium (and the full-fat
        varieties also are good sources of fat and calories). Many juices also are fortified with calcium.</p>
      <p style="color:#000000;font-size:11px;">Fat-soluble vitamins (vitamins A, D, E, and K). Important for immune function, growth, and healing, these vitamins are absorbed along with fat. And because most kids with CF have trouble digesting fat, they often have low levels of fat-soluble vitamins
        and need to take specialized prescription supplements.</p>
      <p style="color:#000000;font-size:11px;">Salt. Kids with CF lose a lot of salt in their sweat, especially during hot weather and when they exercise. So a CF dietitian may suggest adding salt to an infant's formula and giving an older child salty snacks. The dietitian may recommend sending
        sports drinks along when your child plays sports or has phys ed, and during hot weather.</p>
</div>