<div layout-padding>
    <div layout="row">
      <img src="img/symptom.jpg" style="display: block; width: 50%; height: 60%; margin-left: auto; margin-right: auto;">
    
    <div class="heading">
    <h5 style="color:#000000;">Daily burden of care</h5>
    
      <p style="color:#000000;font-size:11px;">People with cystic fibrosis often require more than 50 tablets a day, plus a couple of hours of physiotherapy at home and some nebulised treatments. Low digestive efficiency can also mean more than 1,000 extra calories are required a day, which
        can be particularly challenging for children.</p>
    </div>
    </div>
    <div layout="row" >
    <div class="heading">
      <h5 style="color:#000000;">Infections</h5>
      <p style="color:#000000;font-size:11px;">The lungs of the patients are more prone to infection but there are options for treating these infections, including a range of antibiotics. Infections can mean multiple trips to hospital that last more than a week each throughout a year. It is
        hard to accommodate work, study and support family members and the yrequire strong antibiotics, which can have bad side effects.</p>
        </div>
    <div >
    <img src="img/symptom1.jpg" style="display: block; width:100%; height: 100%;">
    </div>
    </div>
    <div layout="row" >
    <img src="img/symptom2.jpg" style="display: block; width: 30%; height: 30%; margin-left: auto; margin-right: auto;">
    <div class="heading">
    <h5 style="color:#000000;">Symptoms of Cystic Fibrosis</h5>
    <ul>
      <li style="color:#000000;font-size:11px;">Persistent cough with productive thick mucous</li>
      <li style="color:#000000;font-size:11px;">Wheezing and shortness of breath</li>
      <li style="color:#000000;font-size:11px;">Frequent chest infections, which may include pneumonia</li>
      <li style="color:#000000;font-size:11px;">Bowel disturbances, such as intestinal obstruction or frequent, oily stools</li>
      <li style="color:#000000;font-size:11px;">Weight loss or failure to gain weight despite increased appetite</li>
      <li style="color:#000000;font-size:11px;">Salty tasting sweat</li>
      <li style="color:#000000;font-size:11px;">Infertility (men) and decreased fertility (women)</li>
      
    </ul>
    </div>
    </div>
</div>