<div >
      <img src="img/symptom.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="heading">
    <h5 style="color:#000000;">Daily burden of care</h5>
    
      <p style="color:#000000;font-size:11px;">People with cystic fibrosis often require more than 50 tablets a day, plus a couple of hours of physiotherapy at home and some nebulised treatments. Low digestive efficiency can also mean more than 1,000 extra calories are required a day, which
        can be particularly challenging for children.</p>
    
    <h5 style="color:#000000;">Infections</h5>
    
      <p style="color:#000000;font-size:11px;">The lungs of the patients are more prone to infection but there are options for treating these infections, including a range of antibiotics. Infections can mean multiple trips to hospital that last more than a week each throughout a year. It is
        hard to accommodate work, study and support family members and the yrequire strong antibiotics, which can have bad side effects.</p>
    
    <h5 style="color:#000000;">Other effects</h5>
    
      <p style="color:#000000;font-size:11px;">Digestive complications can lead to symptoms that some find embarrassing, particularly during teenage years, such as diarrhoea, constipation and wind. Coughing fits are common and can result in vomiting on occasion. Many adolescents and adults with
        CF will develop CF-related diabetes.</p>
    </div>